{%block content%}

{%load static%}
{%include 'navbar.html'%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Section</title>
</head>
<link rel="stylesheet" href="{%static 'styles/download_section.css'%}">
<body>
    
<div class="dialog-left">
    <div id="user-menu-header"></div>
    <div class="ebook-main" itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Book">
    <div class="ebook-left">
    <a href="/living-in-the-light-a-guide-to-personal-transformation-d10172273.html" rel="nofollow" onclick="c();">
    <img class="ebook-img" itemprop="image" src="https://cdn.asaha.com/assets/thumbs/9b8/9b88b7c17f496a61fc78505130af288e.jpg" alt="Living in the Light: A guide to personal transformation" title="Living in the Light: A guide to personal transformation" border="0">
    </a>
    </div>
    <div class="ebook-right">
    <div class="ebook-right-inner">
    <div id="share-buttons">
    <div class="addthis_inline_share_toolbox"></div>
    </div>
    <h1 class="ebook-title " itemprop="name">Living in the Light: A guide to personal transformation</h1>
    <div class="ebook-file-info">
    <span class="info-green">258 Pages</span> <span class="m-info">·</span> <span class="info-green">2001</span> <span class="m-info">·</span>
    <span class="info-green">2.74 MB</span> <span class="m-info">·</span>
    <span class="info-green">English</span><br>
    </div>
    <div class="ebook-author">
    by <a href="/search?q=David+Sargent" rel="nofollow" class="card-author"><span itemprop="creator">David Sargent</span></a>
    </div>
    <div class="ebook-tags"><i class="fa fa-plus fa-plus-fix mr-1" aria-hidden="true"></i><a href="/category/76" onclick="ga('send', 'event', 'CategoryLink', 'EbookInfo');">Self-improvement</a> <i class="fa fa-plus fa-plus-fix ml-2 mr-1" aria-hidden="true" style="margin-left:6px;"></i> <a href="/category/113" onclick="ga('send', 'event', 'CategoryLink', 'EbookInfo');">Editor's Picks</a> <i class="fa fa-plus fa-plus-fix ml-2 mr-1" aria-hidden="true" style="margin-left:6px;"></i> <a href="/category/112" onclick="ga('send', 'event', 'CategoryLink', 'EbookInfo');">Most Popular</a></div> </div>
    </div>
    <div class="ebook-buttons">
    <button type="button" id="previewButtonMain" class="btn btn-warning btn-responsive" data-id="10172273" data-preview="/ebook/preview?id=10172273&amp;session=84f0f3490acb0a861ce0cf97be914eed" data-download-page="/living-in-the-light-a-guide-to-personal-transformation-d10172273.html" style="font-weight:500;">
    Preview </button>
    <span id="download-button"><a id="download-button-link" class="btn btn-primary btn-responsive" href="/living-in-the-light-a-guide-to-personal-transformation-d10172273.html" rel="nofollow" onclick="c();ga('send', 'event', 'Download', 'ebook-page');setCookie('disablePopup', 1, 1);" role="button" style="font-weight:500;">Download</a></span>
    </div>
    </div>
    <div class="quotes">“ In the end only three things matter: how much you loved, how gently you lived, and how gracefully you let go of things not meant for you. ” ― <strong>Anonymous</strong></div>
    <div id="sf"></div>
    <div class="mb-3 mt-3" id="similar-files">
    Similar <span class="hidemobile">Free eBooks</span> <div style="float:right;">
    <select class="select-style" tabindex="9" onchange="
                                                    loadSimilar(this.value, 0);
                                ga('send', 'event', 'Filter By Page Count', 'ebook-page');" style="width: 163px;font-size: 13px;">
    <option value="">Filter by page count</option>
    <option value="1-24">1-24 Pages</option>
    <option value="25-50">25-50 Pages</option>
    <option value="51-100">51-100 Pages</option>
    <option value="100-*">100+ Pages</option>
    </select>
    </div>
    </div>
    <div id="similar">
    <div class="files-new">
    <ul>
    <li onclick="if ('ontouchstart' in document.documentElement) {top.location='/give-and-take-why-helping-others-drives-our-success-e58864799.html'}"><div class="row"> <div class="col-sm ">
    <div class="file-left">
    <a href="/give-and-take-why-helping-others-drives-our-success-e58864799.html" data-id="58864799">
    <img class="img-zoom file-img" src="https://cdn.asaha.com/assets/thumbs/653/653f249a58f438ef343c5da5f023203d-s.jpg" data-original="https://cdn.asaha.com/assets/thumbs/653/653f249a58f438ef343c5da5f023203d-s.jpg" alt="Give and Take: WHY HELPING OTHERS DRIVES OUR SUCCESS" title="Give and Take: WHY HELPING OTHERS DRIVES OUR SUCCESS" loading="lazy">
    </a>
    </div>
    <div class="file-right">
    <a href="/give-and-take-why-helping-others-drives-our-success-e58864799.html" data-loc="1" data-from="10172273" data-to="58864799" class="ai-similar">
    <h2>Give and Take: WHY HELPING OTHERS DRIVES OUR SUCCESS</h2>
    </a>
    <div class="file-info" data-id="58864799"> <span class="fi-pagecount ">260 Pages</span><span class="ml-1 mr-1">·</span><span class="fi-year ">2011</span><span class="ml-1 mr-1">·</span><span class="fi-size hidemobile">1.57 MB</span> <br>
    </div>
    “Give and Take is brimming with life-changing insights. “One of the great secrets of life is that those who win mo &nbsp;...
    </div>
    </div>
    </div> </li>
    <li onclick="if ('ontouchstart' in document.documentElement) {top.location='/the-5-second-rule-transform-your-life-work-and-confidence-with-everyday-courage-e60374999.html'}"><div class="row"> <div class="col-sm ">
    <div class="file-left">
    <a href="/the-5-second-rule-transform-your-life-work-and-confidence-with-everyday-courage-e60374999.html" data-id="60374999">
    <img class="img-zoom file-img" src="https://cdn.asaha.com/assets/thumbs/52c/52cd4079b54f1fbcb5d6bc581a73618b-s.jpg" data-original="https://cdn.asaha.com/assets/thumbs/52c/52cd4079b54f1fbcb5d6bc581a73618b-s.jpg" alt="The 5 Second Rule: Transform your Life, Work, and Confidence with Everyday Courage" title="The 5 Second Rule: Transform your Life, Work, and Confidence with Everyday Courage" loading="lazy">
    </a>
    </div>
    <div class="file-right">
    <a href="/the-5-second-rule-transform-your-life-work-and-confidence-with-everyday-courage-e60374999.html" data-loc="2" data-from="10172273" data-to="60374999" class="ai-similar">
    <h2>The 5 Second Rule: Transform your Life, Work, and Confidence with Everyday Courage</h2>
    </a>
    <div class="file-info" data-id="60374999"> <span class="fi-pagecount ">252 Pages</span><span class="ml-1 mr-1">·</span><span class="fi-year ">2017</span><span class="ml-1 mr-1">·</span><span class="fi-size hidemobile">11.94 MB</span> <br>
    </div>
    Mel_Robbins_The_5_Second_Rule_Transform_your_Li(zlibraryexau2g3p_onion).pdf The 5 Second Rule: Transform Your Life, Work &nbsp;...
    </div>
    </div>
    </div> </li>
    <li onclick="if ('ontouchstart' in document.documentElement) {top.location='/resisting-happiness-a-true-story-about-why-we-sabotage-ourselves-e39563520.html'}"><div class="row"> <div class="col-sm ">
    <div class="file-left">
    <a href="/resisting-happiness-a-true-story-about-why-we-sabotage-ourselves-e39563520.html" data-id="39563520">
    <img class="img-zoom file-img" src="https://cdn.asaha.com/assets/thumbs/bf9/bf93b21ca6f860b22862fb495157ee5e-s.jpg" data-original="https://cdn.asaha.com/assets/thumbs/bf9/bf93b21ca6f860b22862fb495157ee5e-s.jpg" alt="Resisting Happiness: A True Story about Why We Sabotage Ourselves" title="Resisting Happiness: A True Story about Why We Sabotage Ourselves" loading="lazy">
    </a>
    </div>
    <div class="file-right">
    <a href="/resisting-happiness-a-true-story-about-why-we-sabotage-ourselves-e39563520.html" data-loc="3" data-from="10172273" data-to="39563520" class="ai-similar">
    <h2>Resisting Happiness: A True Story about Why We Sabotage Ourselves</h2>
    </a>
    <div class="file-info" data-id="39563520"> <span class="fi-pagecount ">32 Pages</span><span class="ml-1 mr-1">·</span><span class="fi-year ">2017</span><span class="ml-1 mr-1">·</span><span class="fi-size hidemobile">258 KB</span> <br>
    </div>
    so you can become the-best-version-of-yourself and start living with This study guide is designed to accompany Dynamic &nbsp;...
    </div>
    </div>
    </div> </li>
    <li onclick="if ('ontouchstart' in document.documentElement) {top.location='/start-where-you-are-a-guide-to-compassionate-living-e60375000.html'}"><div class="row"> <div class="col-sm ">
    <div class="file-left">
    <a href="/start-where-you-are-a-guide-to-compassionate-living-e60375000.html" data-id="60375000">
    <img class="img-zoom file-img" src="https://cdn.asaha.com/assets/thumbs/f0f/f0f41178adda35d162a59e04ae087c74-s.jpg" data-original="https://cdn.asaha.com/assets/thumbs/f0f/f0f41178adda35d162a59e04ae087c74-s.jpg" alt="Start Where You Are: A Guide to Compassionate Living" title="Start Where You Are: A Guide to Compassionate Living" loading="lazy">
    </a>
    </div>
    <div class="file-right">
    <a href="/start-where-you-are-a-guide-to-compassionate-living-e60375000.html" data-loc="4" data-from="10172273" data-to="60375000" class="ai-similar">
    <h2>Start Where You Are: A Guide to Compassionate Living</h2>
    </a>
    <div class="file-info" data-id="60375000"> <span class="fi-pagecount ">242 Pages</span><span class="ml-1 mr-1">·</span><span class="fi-year ">2007</span><span class="ml-1 mr-1">·</span><span class="fi-size hidemobile">1022 KB</span> <br>
    </div>
    Pema_Chödrön_Start_Where_You_Are_A_Guide_to_C(zlibraryexau2g3p_onion).pdf Start Where You Are &nbsp;...
    </div>
    </div>
    </div> </li>
    <li onclick="if ('ontouchstart' in document.documentElement) {top.location='/boundaries-when-to-say-yes-how-to-say-no-to-take-control-of-your-life-e60363043.html'}"><div class="row"> <div class="col-sm ">
    <div class="file-left">
    <a href="/boundaries-when-to-say-yes-how-to-say-no-to-take-control-of-your-life-e60363043.html" data-id="60363043">
    <img class="img-zoom file-img" src="https://cdn.asaha.com/assets/thumbs/436/4363a573dce18de6452986dcee9e54eb-s.jpg" data-original="https://cdn.asaha.com/assets/thumbs/436/4363a573dce18de6452986dcee9e54eb-s.jpg" alt="Boundaries: When to Say Yes, How to Say No to Take Control of Your Life" title="Boundaries: When to Say Yes, How to Say No to Take Control of Your Life" loading="lazy">
    </a>
    </div>
    <div class="file-right">
    <a href="/boundaries-when-to-say-yes-how-to-say-no-to-take-control-of-your-life-e60363043.html" data-loc="5" data-from="10172273" data-to="60363043" class="ai-similar">
    <h2>Boundaries: When to Say Yes, How to Say No to Take Control of Your Life</h2>
    </a>
    <div class="file-info" data-id="60363043"> <span class="fi-pagecount ">357 Pages</span><span class="ml-1 mr-1">·</span><span class="fi-year ">2001</span><span class="ml-1 mr-1">·</span><span class="fi-size hidemobile">1.9 MB</span> <br>
    </div>
    Dr__Henry_Cloud,_Dr__John_Townsend_Boundaries_W(zlibraryexau2g3p_onion).pdf Boundaries Henry Cloud &nbsp;...
    </div>
    </div>
    </div> </li>
    <li onclick="if ('ontouchstart' in document.documentElement) {top.location='/the-purpose-driven-life-what-on-earth-am-i-here-for-e185720921.html'}"><div class="row"> <div class="col-sm ">
    <div class="file-left">
    <a href="/the-purpose-driven-life-what-on-earth-am-i-here-for-e185720921.html" data-id="185720921">
    <img class="img-zoom file-img" src="https://cdn.asaha.com/assets/thumbs/f09/f093c203496024043455817fd7a7ef3f-s.jpg" data-original="https://cdn.asaha.com/assets/thumbs/f09/f093c203496024043455817fd7a7ef3f-s.jpg" alt="The Purpose-Driven Life: What on Earth Am I Here For?" title="The Purpose-Driven Life: What on Earth Am I Here For?" loading="lazy">
    </a>
    </div>
    <div class="file-right">
    <a href="/the-purpose-driven-life-what-on-earth-am-i-here-for-e185720921.html" data-loc="6" data-from="10172273" data-to="185720921" class="ai-similar">
    <h2>The Purpose-Driven Life: What on Earth Am I Here For?</h2>
    </a>
    <div class="file-info" data-id="185720921"> <span class="fi-year ">2003</span><span class="ml-1 mr-1">·</span><span class="fi-size hidemobile">3.65 MB</span><span class="ml-1 mr-1">·</span><span class="new">New!</span> <br>
    </div>
    The #1 New York Times Bestseller, with over 3 million sold, now available in a large print edition The Purpose Driven Li &nbsp;...
    </div>
    </div>
    </div> </li>
    <li onclick="if ('ontouchstart' in document.documentElement) {top.location='/the-gifts-of-imperfection-embrace-who-you-are-e60365102.html'}"><div class="row"> <div class="col-sm ">
    <div class="file-left">
    <a href="/the-gifts-of-imperfection-embrace-who-you-are-e60365102.html" data-id="60365102">
    <img class="img-zoom file-img" src="https://cdn.asaha.com/assets/thumbs/8a5/8a57e63db9422e1ebac221fe091f7505-s.jpg" data-original="https://cdn.asaha.com/assets/thumbs/8a5/8a57e63db9422e1ebac221fe091f7505-s.jpg" alt="The Gifts of Imperfection: Embrace Who You Are" title="The Gifts of Imperfection: Embrace Who You Are" loading="lazy">
    </a>
    </div>
    <div class="file-right">
    <a href="/the-gifts-of-imperfection-embrace-who-you-are-e60365102.html" data-loc="7" data-from="10172273" data-to="60365102" class="ai-similar">
    <h2>The Gifts of Imperfection: Embrace Who You Are</h2>
    </a>
    <div class="file-info" data-id="60365102"> <span class="fi-pagecount ">98 Pages</span><span class="ml-1 mr-1">·</span><span class="fi-year ">2015</span><span class="ml-1 mr-1">·</span><span class="fi-size hidemobile">1.1 MB</span> <br>
    </div>
    Brene_Brown_The_Gifts_of_Imperfection_Let_Go_of(zlibraryexau2g3p_onion).pdf The Gifts of Imperfection: Let Go of Who You &nbsp;...
    </div>
    </div>
    </div> </li>
    <li onclick="if ('ontouchstart' in document.documentElement) {top.location='/you-are-a-badass-how-to-stop-doubting-your-greatness-and-start-living-an-awesome-life-e60365112.html'}"><div class="row"> <div class="col-sm ">
    <div class="file-left">
    <a href="/you-are-a-badass-how-to-stop-doubting-your-greatness-and-start-living-an-awesome-life-e60365112.html" data-id="60365112">
    <img class="img-zoom file-img" src="https://cdn.asaha.com/assets/thumbs/ed1/ed19b7359e71ccbe68ae0d2fd975b46a-s.jpg" data-original="https://cdn.asaha.com/assets/thumbs/ed1/ed19b7359e71ccbe68ae0d2fd975b46a-s.jpg" alt="You Are a Badass: How to Stop Doubting Your Greatness and Start Living an Awesome Life" title="You Are a Badass: How to Stop Doubting Your Greatness and Start Living an Awesome Life" loading="lazy">
    </a>
    </div>
    <div class="file-right">
    <a href="/you-are-a-badass-how-to-stop-doubting-your-greatness-and-start-living-an-awesome-life-e60365112.html" data-loc="8" data-from="10172273" data-to="60365112" class="ai-similar">
    <h2>You Are a Badass: How to Stop Doubting Your Greatness and Start Living an Awesome Life</h2>
    </a>
    <div class="file-info" data-id="60365112"> <span class="fi-pagecount ">689 Pages</span><span class="ml-1 mr-1">·</span><span class="fi-year ">2015</span><span class="ml-1 mr-1">·</span><span class="fi-size hidemobile">1.32 MB</span> <br>
    </div>
    Jen_Sincero_You_Are_a_Badass_How_to_Stop_Doubti(zlibraryexau2g3p_onion).pdf You Are a Badass Jen Sincero &nbsp;...
    </div>
    </div>
    </div> </li>
    <li onclick="if ('ontouchstart' in document.documentElement) {top.location='/the-power-of-now-a-guide-to-spiritual-enlightenment-e60365106.html'}"><div class="row"> <div class="col-sm ">
    <div class="file-left">
    <a href="/the-power-of-now-a-guide-to-spiritual-enlightenment-e60365106.html" data-id="60365106">
    <img class="img-zoom file-img" src="https://cdn.asaha.com/assets/thumbs/697/6975b8d733d37ac2edd4d3240525b631-s.jpg" data-original="https://cdn.asaha.com/assets/thumbs/697/6975b8d733d37ac2edd4d3240525b631-s.jpg" alt="The Power of Now: A Guide to Spiritual Enlightenment" title="The Power of Now: A Guide to Spiritual Enlightenment" loading="lazy">
    </a>
    </div>
    <div class="file-right">
    <a href="/the-power-of-now-a-guide-to-spiritual-enlightenment-e60365106.html" data-loc="9" data-from="10172273" data-to="60365106" class="ai-similar">
    <h2>The Power of Now: A Guide to Spiritual Enlightenment</h2>
    </a>
    <div class="file-info" data-id="60365106"> <span class="fi-pagecount ">124 Pages</span><span class="ml-1 mr-1">·</span><span class="fi-year ">2006</span><span class="ml-1 mr-1">·</span><span class="fi-size hidemobile">7.51 MB</span> <br>
    </div>
    Eckhart_Tolle_The_Power_Of_Now_-_A_Guide_To_Spir(zlibraryexau2g3p_onion).pdf &nbsp;...
    </div>
    </div>
    </div> </li>
    <li onclick="if ('ontouchstart' in document.documentElement) {top.location='/100-ways-to-motivate-yourself-change-your-life-forever-e14428506.html'}"><div class="row"> <div class="col-sm ">
    <div class="file-left">
    <a href="/100-ways-to-motivate-yourself-change-your-life-forever-e14428506.html" data-id="14428506">
    <img class="img-zoom file-img" src="https://cdn.asaha.com/assets/thumbs/703/703b43783687bc4f3540c276dca3819a-s.jpg" data-original="https://cdn.asaha.com/assets/thumbs/703/703b43783687bc4f3540c276dca3819a-s.jpg" alt="100 Ways to Motivate Yourself: Change Your Life Forever" title="100 Ways to Motivate Yourself: Change Your Life Forever" loading="lazy">
    </a>
    </div>
    <div class="file-right">
    <a href="/100-ways-to-motivate-yourself-change-your-life-forever-e14428506.html" data-loc="10" data-from="10172273" data-to="14428506" class="ai-similar">
    <h2>100 Ways to Motivate Yourself: Change Your Life Forever</h2>
    </a>
    <div class="file-info" data-id="14428506"> <span class="fi-pagecount ">151 Pages</span><span class="ml-1 mr-1">·</span><span class="fi-year ">2009</span><span class="ml-1 mr-1">·</span><span class="fi-size hidemobile">1.37 MB</span> <br>
    </div>
    This book may not be reproduced, in whole or in part, in any form or by
    Hardison for coaching and friendship beyond th &nbsp;...
    </div>
    </div>
    </div> </li> </ul>
    </div>
    <div class="loadmore">
    <div class="moreButton" id="moreButton" onclick="
                    loadMore(10); ga('send', 'event', 'Load more similar files');">
    <i class="fa fa-chevron-circle-down" aria-hidden="true" style="color: #2d96c3; margin-right: 8px;"></i> Load more similar PDF files </div>
    </div>
    </div>
    <div class="premium-promo" onclick="top.location.href = '/GlobalProblems';">
    <strong>PDF Drive</strong> investigated dozens of problems and listed <strong>the biggest global issues</strong> facing the world today.
    <a href="/GlobalProblems"><strong>Let's Change The World Together <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></strong></a>
    </div>
    </div>
</body>

    </html>
    {%endblock content%}